body {
    margin: 0px;
}

.setlogo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: 43%;
    margin-top: 6%;
}

.text-class {
    color: #f1e5e5;
    font-family: Lustria;
    font-size: 45px;
    text-align: center;
}

.center-text {
    padding-left: 3%;
}

.txtfamily {
    color: #e83d3d;
    font-family: Poiret_One;
    font-weight: 500;
    font-size: larger;
}

.slide {
    color: #ec1b1b;
    font-family: Poiret_One;
    font-weight: 600;
}

@font-face {
    font-family: Lustria;
    src: url('../fonts/Lustria/Lustria-Regular.ttf');
}

@font-face {
    font-family: Poiret_One;
    src: url('../fonts/Poiret_One/PoiretOne-Regular.ttf');
}

.footer {
    background-color: rgba(70, 90, 99, 0.17);
    color: #ff1212;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 8%;
}

.footertxt {
    padding-top: 0.5%;
    font-family: Poiret_One;
    font-size: larger;
    font-weight: 600;
}

.icons {
    text-align: center;
    margin-top: 5%;
}

.padding {
    padding-left: 2%;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.text-format {
    text-align: center;
    color: #fff;
    font-family: Lustria;
    position: absolute;
    margin-top: 15%;
    font-size: 26px;
}

.t1 {
    font-size: 50px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 0px 100px;
    box-sizing: border-box;
    transition: .3s;
}

nav.black {
    background: rgba(0, 0, 0, 0.8);
    height: 80px;
    padding: 0px 100px;
}

nav .logo {
    padding: 22px 20px;
    height: 80px;
    float: left;
    font-size: 24px;
    transition: .3s;
    color: #fff;
}

nav.black.logo {
    color: #fff;
}

nav ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    line-height: 80px;
    color: #fca256;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
}

nav ul li a:hover {
    color: #fca256;
    text-decoration: none;
}

nav.black ul li a {
    color: #fff;
}


/* nav ul li a:focus {
    outline: none;
} */


/* nav ul li a.active {
    background: #E2472F;
    color: #fff;
    border-radius: 6px;
} */

section.sec1 {
    width: 100%;
    height: 100vh;
    background: url("../img/backimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content {
    margin-top: 80px;
}

.content p {
    width: 777px;
    margin: 30px auto;
    text-align: justify;
    font-size: 20px;
    line-height: 30px;
}

.type {
    display: inline;
}

.typed-cursor {
    padding: 10px;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.social-links {
    padding-right: 20px;
    display: inline-block;
}

.social-links a {
    padding-right: 20px;
}

.social-links a>span {
    size: 20px;
}