<section ng-controller="portfolio" class="content">
    <img class="setimage" src="img/paddington-1.jpg">
    <!-- <img class="setlogo" src="img/yy.png"> -->
    <div class="container">
        <div class="text-class center fadeInDown animated">
            <h2>Hello! I'm Aman Babu Gautam</h2>
        </div>
        <div class="col-md-12">
            <h3><span class="center-text txtfamily">I am a&nbsp;</span><span id="js-rotating" class="slide">Programmer, Web Developer, Learner</span></h3>
        </div>
        <div class="col-md-12 icons">
            <span class="padding"><a href="../../static/Pellustro_Observations_061217.pdf" target="_blank"><i class="fa fa-black-tie fa-2x"></i></a></span>
            <span class="padding"><a href="mailto:amanbabugautam@gmail.com"><i class="fa fa-envelope fa-2x"></i></a></span>
            <span class="padding"><a href="https://github.com/AmanBabu" target="_blank"><i class="fa fa-github fa-2x"></i></a></span>
            <span class="padding"><a href="https://www.linkedin.com/in/amanbabugautam/"  target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></span>
            <span class="padding"><i class="fa fa-google-plus-official fa-2x"></i></span>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function() {
        $("#js-rotating").Morphext({
            // The [in] animation type. Refer to Animate.css for a list of available animations.
            animation: "fadeInRight",
            // An array of phrases to rotate are created based on this separator. Change it if you wish to separate the phrases differently (e.g. So Simple | Very Doge | Much Wow | Such Cool).
            separator: ",",
            // The delay between the changing of each phrase in milliseconds.
            speed: 2500
        });
    })
</script>